@import "node_modules/calcite-web/dist/sass/calcite-web";


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#navBtn {
    margin: 0px 10px 0px 10px;
}

.communityPlaceholder::placeholder {
    font-weight: bold;
}