@import "node_modules/calcite-web/dist/sass/calcite-web";


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#navTerm {
    margin: 0px 20px 0px 20px;
    display: inline-block;
}

.communityPlaceholder::placeholder {
    font-weight: bold;
}
